* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
body {
    background-color: hsl(0, 0%, 100%);
}
.box {
    display: flex;
    height: 100%;
    
}
.box > div {
    flex: 50%;
    position:relative;
    display:flex;
}
.right {
    flex-direction: column ;
    justify-content: center;
}
.violet {
    width: 70%;
    height: 750px;
    border-radius: 0 0 50% 50%;
    background-color: hsl(264, 100%, 61%);
    margin-left: -15%;
    
}
.outer {
    position: absolute;
    width: 30%;
    height: 550px;
    top: 160px;
    left: 47%;
    background-color: hsl(270, 20%, 96%);
    border-radius: 30px;
}
.phone {
    position:relative ; 
    display: flex;
    flex-direction: column; 
    padding: 10px; 
    justify-content: space-evenly;
}
.phone p {
    font-size: 10px;
    padding: 5px;
}

.one {
    background-image: linear-gradient(to left, hsl(293, 100%, 63%) 20%, hsl(264, 100%, 61%) );
    height: 70px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: relative;
    
}
.one::before {
    content: '';
    position: absolute;
    width: 50%;
    background-color: hsl(270, 20%, 96%);
    height: 30px;
    border-radius: 10px;
    left: 25%;
    top: -10%;

}
.one img {
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
}
.one::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 3px solid white;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    left: 15px;
    top: 40px;
    transform: rotate(-45deg);
}
.one h6 {
    color: white;
    position: absolute;
    font-size: 12px;
    bottom: 23px;
    left: 70px;
    font-weight: 200;
}
.one p {
    color: white;
    position: absolute;
    font-size: 8px;
    bottom: 5px;
    left: 65px;
}

.two, .three, .seven {
    background-color:hsl(266, 19%, 93%);
    width: 60%;
    padding: 5px;
    border-radius: 10px 10px 10px 0;
    margin: 5px 0;
    
}
.four {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    align-self: flex-end;
}
.four img {
    margin: 5px;
    height: 50px;
    border-radius: 10px;
}
.five, .six {
    max-width: 60%;
    align-self: flex-end;
    background-color:white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px 10px 0;
}
.eight, .nine {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%) 20%, hsl(264, 100%, 61%) );
    padding: 5px;
    margin: 5px 0;
    width: 70%;
    border-radius: 10px 10px 10px 0;
    display: flex;
    position: relative;
    
    
}
.eight >div, .nine > div {
    height: 20px;
    width: 20px;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%) 10%, hsl(264, 100%, 61%) );
    border: 2px solid white;
    border-radius: 50%;
    
}
span {
    color: white;
    text-align: end; 
    position: absolute; 
    right: 10px;  
}
.ten {
    background-color: white;
    border-radius: 20px;
    height: 30px;
    
    display: flex;
    justify-content: flex-end;
}
.ten div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: hsl(271, 36%, 24%);
    position: relative;   
}
.ten div::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 3px solid white;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    right: 10px;
    top: 6px;
    transform: rotate(45deg);
}
.light {
    width: 35%;
    height: 750px;
    border-radius: 50% 50% 0 0;
    background-color: hsl(270, 20%, 96%);
    position: fixed;
    right: -10%;
    bottom: 0;
    z-index: -1;  
}
.desc {
    margin-left: 40px;
}
h3 {
    font-size: 50px;
    font-weight: 500;
    padding: 5px 0 20px 20px;
       
}
.desc p {
    font-size: 16px;
    font-weight: 400;
    padding: 3px 3px 3px 20px;
    
}

